pipeline {
    agent any
    stages {
        stage('Echo Bonjour petit Pipeline') {
            steps {
                echo 'Bonjour petit Pipeline !'
            }
        }     
        stage('Git clone Java project') {
            steps {
                git branch: 'main',
                    url: 'https://github.com/JmeunierILKI/MyJavaApp'
            }
        }

        stage('mvn test') {
            steps {
                sh 'echo $PWD'
                sh 'mvn test'
            }
        }
        stage('mvn install') {
            steps {
                sh 'mvn clean install'
            }
        }
        stage('Git clone m2i project') {
            steps {
                sh 'mkdir ../m2i-project'
                sh 'cd ../m2i-project'
                git branch: 'main',
                    url: 'https://github.com/kaylan44/CI-CD_m2i_project'
            }
        }
        stage('docker build') {
            steps {
                sh 'cp ./target/hello.war ../m2i-project/Docker/hello.war'
                sh 'cd ../m2i-project/Docker'
                sh 'docker build -t hello .'
            }
        }
        stage('docker run') {
            steps {
                sh 'docker run -itd -p 80:8080 hello'
                sh 'docker ps'
            }
        }
    }
}
